body {
    margin: 0;
}

#app * {
    border: 1px solid red;
}
#app{
    display: grid;
    grid-template-areas: 
       
        "header header header"
        "main main aside"
        "footer footer footer";
    gap: 20px;
    height: 100vh;

}


#app header {
   grid-area:header;

}

#app main {
   grid-area:main;
}

#app footer {
    grid-area: footer;
}
